* {
margin: 0 auto;
padding: 0 auto;
font-size: 19.3px;
font-family: "Calibri";
color: white;
text-align: center;
}

img.logo{
}

header.logo {
  background-color: white;
  text-align: center;
  margin: 45px 30px 40px 30px;
}


header.banner {
background-color: #141414;
margin: 0px 40px 0px 40px;
padding: 55px 40px;
color: white;
font-size: 30px;
}

h2 {
font-size: 29.3px;
letter-spacing: 9px;
padding-left: 8px;
}

img.instagramanioci {
  padding: 6px 0px 0px 0px;
}

footer {
background-color: #141414;
padding: 30px;
margin: 45px 40px 45px 40px;
}

h1 {
  letter-spacing: 1px;
  line-height: 30px;
  text-align: center;

}
